#Web Scraping in Python

What is Web Scraping?
<ul>
  <li>In simple terms, web scraping is the process of extracting content and data from a website.</li>
  <li>A form of Data Engineering</li>
  <li>Useful for creating your own datasets to answer your own questions</li>
</ul>

How does web scraping play a role in Data Science?

<img src="http://www.uvm.edu/~cbcafier/assets/pipeline.jpg">

<b>Data Wrangling</b> - The process of restructuring, cleaning, and enriching raw data into a desired format for easy access and analysis.

<b>Data cleansing</b> - The process of prepping data for analysis by amending or removing incorrect, corrupted, improperly formatted, duplicated, irrelevant, or incomplete data within a dataset. 

<b>Explore</b> - Analyze your data to see any trends and/or correlations

<b>Pre-Process</b> - Prepare the data for modeling though processes such as standarization of values, or one-hot-encoding, etc.

<b>Model</b> - Create your model.

<b>Validate</b> - Use different metrics (like ROC, F1, loss, etc.) to see if your model has minial errors.

<b>Tell the Story</b> - Use your model to make decisions

Notice how before anything we need to (1) have a question and then (2) gather our data [via Web Scraping]. 

<br>

<center>
<p style="color:red;"><b>Question - Do large companies in America(specified through market capitalization) have favorable workplace environments for their employees?</b></p> 
</center>

<br>

Now that we have our question we need to gather/create a dataset? But before we can talk about that we need to learn some HTML & CSS:
<ul>
<li>HTML (Hyper Text Markup Language) is a formatting system for displaying material retrieved over the Internet. More specifically, you can structure a webpage using HTML tags which contain HTML atributes. </li>

<li>CSS (Cascading Style Sheets) is used to style and layout web pages.</li>
</ul>
<i>**Lets Do a Very Quick Demo on HTML and CSS Selectors**</i>

<br>
<br>

[SelectorGadget](https://chrome.google.com/webstore/detail/selectorgadget/mhjhnkcfbdhnjickkkdbjoemdmbfginb?hl=en)

Now, lets go into web scraping!!

# Install Packages

In [3]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)

In [4]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

#Import Libraries

In [7]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

#Example of Useful Methods

Here is a sample html webpage. There are several tags with different attributes. Before we make our own dataset lets see some use Beautiful Soup function!

In [ ]:
html_ex = '''
<html>
    <head>
        <meta lang="eng" charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>UCONN Data Science Club Webpage</title>
    </head>
    <body>
        <h1 id="title">Welcome to UCONN Data Science Club!!!</h1>
        <p class="mission">Mission: To help educate and promote knledge of data science techniques</p>
        <div class="info">
            <p class="p1">Data science is an interdisciplinary field that uses scientific methods, processes, 
            algorithms and systems to extract knowledge and insights within various forms, 
            both structured and unstructured. Data science interacts with a  wide variety of 
            fields: business, finance, biology, artificial intelligence research, and more. 
            Wherever there is data, the techniques and practices of data science will be useful.</p>

            <p class="nested"> UConn Data Science Club focuses on educating and preparing students to be involved 
            in the field of data science. To develop students technical experience, we participate 
            in Kaggle and host workshops focusing on making a wide variety of areas accessible to 
            undergraduate students. These workshops range from introductory coding to machine 
            learning and neural networks which include practical business applications like 
            algorithmic trading and optimization. Our events give members the opportunity to develop 
            professional skills and to network with industry leaders and other students. Each year we 
            host the UConn Sports Analytics Symposium which brings in industry experts and students 
            from across the country.</p>          

            <p class="p3">Currently, we have weekly meetings where we host a workshop followed by hands on sessions. 
            We them release title questions after every meeting where if completed, we issue a 
            certificate at the end of the semester. Our meets cover: NumPy, Matplotlib, Pandas, Scikit-learn, 
            Scipy and TensorFlow.</p>
 
            Join us to learn more!
            </div>

            <div>
                <p>Current Leadership</p>
                <a href="https://www.linkedin.com/in/venkata-patchigolla-0a0a66214">Venkata</a>
                <a href="https://www.linkedin.com/in/alex-h-chen">Alex</a>
                <a href="https://www.linkedin.com/in/pranav-tavildar-b50172208">Pranav</a>
                <a href="https://www.linkedin.com/in/hari-patchigolla-418815216">Hari</a>
            </div>

            <ul class="outreach">
                <li class="l1"><a href="https://discord.gg/KZPfv2CEE5">Discord</a></li>
                <li class="l2">Email: uconndatascience@gmail.com</li>
                <li class="l3"><a href="https://www.instagram.com/uconndatascience/?hl=en">Instagram</a></li>
            </ul>

            <address>
                Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
                Visit us at:<br>
                Example.com<br>
                Box 564, Disneyland<br>
                USA
            </address>
    </body>
</html>
'''

Next, to scrape information off of our HTML page, we intantiate a BeautifulSoup object. This object represents the parsed document as a whole. So, it is the complete document which we are trying to scrape. 
<br>
<br>
Using the BeautifulSoup object, we can use its attributes and method to obtain specific parts of the HTML page.

In [ ]:
soup = bs(html_ex, 'html.parser') # "html.parser" tells that html_ex is a HTML webpage

The .prettify() mehtod prints out the html page with proper indents

In [ ]:
print(soup.prettify())

In [ ]:
print(type(soup.h1))
soup.h1

A ```Tag``` object corresponds to an HTML tag in the original document. They have **MANY** attibutes and methods but here are a few (click [here](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#kinds-of-objects) for more information).

Specific tags are attributes in the Beautiful Soup Object:

In [ ]:
soup.h1

In order to obtain the HTML Attributes of a Tag object, you can treat these attributes has a dictionary with the key being the attribute name and the value being the attribute value.

In [ ]:
soup.h1["id"]

Like a normal Python dictionary you can add and delete key,value pairs in the HTML Attributes:

In [ ]:
soup.h1["class"]

In [ ]:
soup.h1["class"] = "insertedclass"
print(soup.h1["class"])
soup.h1

Using .{tag name} to get an attribute will only get the FIRST tag of the spcified type, not all of them. 

For example, soup.p will only get the first paragarph, not all of the paragraph tags

In [ ]:
soup.p

We can check if we chose the tag we wanted to using the .has_attr() method

In [ ]:
soup.p.has_attr("class")

The .string method gives us the string within an Beautiful Soup tag.

In [ ]:
print(type(soup.h1.string))
soup.h1.string

In [ ]:
soup.h1.string.replace_with("Welcome to UCONN DSC!!!")
soup.h1

A Tag object has various methods as well:

In [ ]:
list(soup.div.children)

In [ ]:
list(soup.div.descendants)

We can use find_all(name, attrs, recursive, string, limit, **kwargs) to get all the speficied Tags and you cna filter them out:

In [ ]:
soup.find_all('p')

In [ ]:
soup.find_all(["a", "p"])

In [ ]:
soup.find_all(id="title")

In [ ]:
soup.find_all("p", class_="p1")

.select() takes a CSS selector as an input to select a Tag

In [ ]:
soup.select("body > div > a:nth-of-type(1)")

Documentation Link: [here](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

#Identify Sources of Data

<center>
Question: Do large companies (specified through market capitalization) have favorable workplace environments for their employees?
</center>

In order to answer this question we need to webpages that contain data relavent to this question.

We will use this [link](https://companiesmarketcap.com/usa/largest-companies-in-the-usa-by-market-cap/?page=1) for getting the largest companies based on market capitalization and we will use Indeed Reviews to get insights on works environments.

Let's take a look at these webpages and see if we notice patterns in them!

Firt lets make lists of all the data that we want:

In [8]:
total_lst = [] 

company_names_lst = []
company_code_lst = []
market_cap_lst = []
industries_for_company_lst = []

A status code of 200 mean that the request was sucessful. The get() method sends a GET request to the specified url. The GET method is used to retreive data from a server at the specified resource.

In [9]:
html_text = requests.get("https://companiesmarketcap.com/usa/largest-companies-in-the-usa-by-market-cap/?page=1")
html_text.status_code

200

.content reutrns the content of the html page as a binary string. A binary string is a sequence of bytes. Unlike a character string which usually contains text data

In [43]:
# html_text.content

Now lets make a Beautiful Soup object (```soup```) which will contain all the information sotred in the html page we requested.

In [11]:
soup = bs(html_text.content, 'html.parser')

In [ ]:
# print(soup.prettify())

First lets get all the Market Capitalization Values:

The data is stored in a <td> tag with a class label of "td-right", but there is a lot more of other data. How can we filter this out??

In [42]:
temp_mcap = soup.find_all("td", {"class": "td-right"})
temp_mcap[0:20]

[<td class="td-right" data-sort="1">1</td>,
 <td class="td-right" data-sort="2729093103616">$2.729 T</td>,
 <td class="td-right" data-sort="16723">$167.23</td>,
 <td class="td-right" data-sort="2">2</td>,
 <td class="td-right" data-sort="2146803515392">$2.146 T</td>,
 <td class="td-right" data-sort="28636">$286.36</td>,
 <td class="td-right" data-sort="3">3</td>,
 <td class="td-right" data-sort="1691799126016">$1.691 T</td>,
 <td class="td-right" data-sort="256491">$2,565</td>,
 <td class="td-right" data-sort="4">4</td>,
 <td class="td-right" data-sort="1566282874880">$1.566 T</td>,
 <td class="td-right" data-sort="307996">$3,080</td>,
 <td class="td-right" data-sort="5">5</td>,
 <td class="td-right" data-sort="1009946001408">$1.009 T</td>,
 <td class="td-right" data-sort="97720">$977.20</td>,
 <td class="td-right" data-sort="6">6</td>,
 <td class="td-right" data-sort="769856045056">$769.85 B</td>,
 <td class="td-right" data-sort="52290056">$522,901</td>,
 <td class="td-right" data-sort="7">7</td>,
 <td class="td-right" data-sort="573000780000">$573.00 B</td>]

If we make the step size 3, then we only get Market Capitalization values and none of the other data values

In [14]:
print(temp_mcap[1::3])
len(temp_mcap[1::3])

[<td class="td-right" data-sort="2729093103616">$2.729 T</td>, <td class="td-right" data-sort="2146803515392">$2.146 T</td>, <td class="td-right" data-sort="1691799126016">$1.691 T</td>, <td class="td-right" data-sort="1566282874880">$1.566 T</td>, <td class="td-right" data-sort="1009946001408">$1.009 T</td>, <td class="td-right" data-sort="769856045056">$769.85 B</td>, <td class="td-right" data-sort="573000780000">$573.00 B</td>, <td class="td-right" data-sort="535331471360">$535.33 B</td>, <td class="td-right" data-sort="513740275712">$513.74 B</td>, <td class="td-right" data-sort="483560816640">$483.56 B</td>, <td class="td-right" data-sort="471632969728">$471.63 B</td>, <td class="td-right" data-sort="439266672640">$439.26 B</td>, <td class="td-right" data-sort="392280506368">$392.28 B</td>, <td class="td-right" data-sort="386463629312">$386.46 B</td>, <td class="td-right" data-sort="371689914368">$371.68 B</td>, <td class="td-right" data-sort="359892123648">$359.89 B</td>, <td class="td-right" data-sort="338997313536">$338.99 B</td>, <td class="td-right" data-sort="331965333504">$331.96 B</td>, <td class="td-right" data-sort="319742869504">$319.74 B</td>, <td class="td-right" data-sort="285935927296">$285.93 B</td>, <td class="td-right" data-sort="280976556032">$280.97 B</td>, <td class="td-right" data-sort="278961487872">$278.96 B</td>, <td class="td-right" data-sort="276776058880">$276.77 B</td>, <td class="td-right" data-sort="267498995712">$267.49 B</td>, <td class="td-right" data-sort="244037697536">$244.03 B</td>, <td class="td-right" data-sort="242718883840">$242.71 B</td>, <td class="td-right" data-sort="231399178240">$231.39 B</td>, <td class="td-right" data-sort="228522000384">$228.52 B</td>, <td class="td-right" data-sort="226795880448">$226.79 B</td>, <td class="td-right" data-sort="220254093312">$220.25 B</td>, <td class="td-right" data-sort="218601127936">$218.60 B</td>, <td class="td-right" data-sort="216273190912">$216.27 B</td>, <td class="td-right" data-sort="214875111424">$214.87 B</td>, <td class="td-right" data-sort="214226567168">$214.22 B</td>, <td class="td-right" data-sort="213828124672">$213.82 B</td>, <td class="td-right" data-sort="202281975808">$202.28 B</td>, <td class="td-right" data-sort="200722644992">$200.72 B</td>, <td class="td-right" data-sort="196707352576">$196.70 B</td>, <td class="td-right" data-sort="189227941888">$189.22 B</td>, <td class="td-right" data-sort="184378163200">$184.37 B</td>, <td class="td-right" data-sort="184367693824">$184.36 B</td>, <td class="td-right" data-sort="165868716032">$165.86 B</td>, <td class="td-right" data-sort="165780783104">$165.78 B</td>, <td class="td-right" data-sort="165582766080">$165.58 B</td>, <td class="td-right" data-sort="164235460608">$164.23 B</td>, <td class="td-right" data-sort="160121520128">$160.12 B</td>, <td class="td-right" data-sort="159735742464">$159.73 B</td>, <td class="td-right" data-sort="159125651456">$159.12 B</td>, <td class="td-right" data-sort="158163189760">$158.16 B</td>, <td class="td-right" data-sort="156433645568">$156.43 B</td>, <td class="td-right" data-sort="155255586816">$155.25 B</td>, <td class="td-right" data-sort="153064560000">$153.06 B</td>, <td class="td-right" data-sort="144895672320">$144.89 B</td>, <td class="td-right" data-sort="142718697472">$142.71 B</td>, <td class="td-right" data-sort="140038586368">$140.03 B</td>, <td class="td-right" data-sort="139177672704">$139.17 B</td>, <td class="td-right" data-sort="138002399232">$138.00 B</td>, <td class="td-right" data-sort="137856483328">$137.85 B</td>, <td class="td-right" data-sort="136318017536">$136.31 B</td>, <td class="td-right" data-sort="136301248512">$136.30 B</td>, <td class="td-right" data-sort="134587531264">$134.58 B</td>, <td class="td-right" data-sort="134184255488">$134.18 B</td>, <td class="td-right" data-sort="133065457664">$133.06 B</td>, <td class="td-right" data-sort="127816491008">$127.81 B</td>, <td class="td-right" data-sort="127807225856">$127.80 B</td>, <td class="td-right" data-sort="125976551424">$125.97 B</td>, <td class="td-right" data-sort="123978989568">$123.97 B</td>, <td class="td-right" data-sort="122085261312">$122.08 B</td>, <td class="td-right" data-sort="120971788288">$120.97 B</td>, <td class="td-right" data-sort="115290054656">$115.29 B</td>, <td class="td-right" data-sort="115252699136">$115.25 B</td>, <td class="td-right" data-sort="110558494720">$110.55 B</td>, <td class="td-right" data-sort="108800163840">$108.80 B</td>, <td class="td-right" data-sort="108365176832">$108.36 B</td>, <td class="td-right" data-sort="106056474624">$106.05 B</td>, <td class="td-right" data-sort="105784754176">$105.78 B</td>, <td class="td-right" data-sort="104384946176">$104.38 B</td>, <td class="td-right" data-sort="104143437824">$104.14 B</td>, <td class="td-right" data-sort="103114891264">$103.11 B</td>, <td class="td-right" data-sort="102632587264">$102.63 B</td>, <td class="td-right" data-sort="101044002816">$101.04 B</td>, <td class="td-right" data-sort="100699955200">$100.69 B</td>, <td class="td-right" data-sort="100490330112">$100.49 B</td>, <td class="td-right" data-sort="100369752064">$100.36 B</td>, <td class="td-right" data-sort="99802685440">$99.80 B</td>, <td class="td-right" data-sort="97710866432">$97.71 B</td>, <td class="td-right" data-sort="92219547648">$92.21 B</td>, <td class="td-right" data-sort="92070928384">$92.07 B</td>, <td class="td-right" data-sort="90911825920">$90.91 B</td>, <td class="td-right" data-sort="89108840448">$89.10 B</td>, <td class="td-right" data-sort="88491515904">$88.49 B</td>, <td class="td-right" data-sort="87676952576">$87.67 B</td>, <td class="td-right" data-sort="86921580000">$86.92 B</td>, <td class="td-right" data-sort="85711601664">$85.71 B</td>, <td class="td-right" data-sort="85709627392">$85.70 B</td>, <td class="td-right" data-sort="85602017280">$85.60 B</td>, <td class="td-right" data-sort="84895711232">$84.89 B</td>, <td class="td-right" data-sort="84452581376">$84.45 B</td>, <td class="td-right" data-sort="83103268864">$83.10 B</td>, <td class="td-right" data-sort="81740234752">$81.74 B</td>]

100

In [41]:
for element in temp_mcap[1::3]:
  market_cap_lst.append(element.string)
print(market_cap_lst[0:10])

['$2.729 T', '$2.146 T', '$1.691 T', '$1.566 T', '$1.009 T', '$769.85 B', '$573.00 B', '$535.33 B', '$513.74 B', '$483.56 B']

Lets make total_lst consists of everything, indluding copany name, company code, and the link to the comany page on the site to get the industries

In [40]:
total_lst = soup.select(".name-div")
print(total_lst[0:10])

[<div class="name-div">
<a href="/apple/marketcap/"> <div class="company-name">Apple</div>
<div class="company-code"><span class="rank d-none"></span>AAPL</div>
</a> </div>, <div class="name-div">
<a href="/microsoft/marketcap/"> <div class="company-name">Microsoft</div>
<div class="company-code"><span class="rank d-none"></span>MSFT</div>
</a> </div>, <div class="name-div">
<a href="/alphabet-google/marketcap/"> <div class="company-name">Alphabet (Google)</div>
<div class="company-code"><span class="rank d-none"></span>GOOG</div>
</a> </div>, <div class="name-div">
<a href="/amazon/marketcap/"> <div class="company-name">Amazon</div>
<div class="company-code"><span class="rank d-none"></span>AMZN</div>
</a> </div>, <div class="name-div">
<a href="/tesla/marketcap/"> <div class="company-name">Tesla</div>
<div class="company-code"><span class="rank d-none"></span>TSLA</div>
</a> </div>, <div class="name-div">
<a href="/berkshire-hathaway/marketcap/"> <div class="company-name">Berkshire Hathaway </div>
<div class="company-code"><span class="rank d-none"></span>BRK-A</div>
</a> </div>, <div class="name-div">
<a href="/facebook/marketcap/"> <div class="company-name">Meta (Facebook)</div>
<div class="company-code"><span class="rank d-none"></span>FB</div>
</a> </div>, <div class="name-div">
<a href="/nvidia/marketcap/"> <div class="company-name">NVIDIA</div>
<div class="company-code"><span class="rank d-none"></span>NVDA</div>
</a> </div>, <div class="name-div">
<a href="/united-health/marketcap/"> <div class="company-name">UnitedHealth</div>
<div class="company-code"><span class="rank d-none"></span>UNH</div>
</a> </div>, <div class="name-div">
<a href="/johnson-and-johnson/marketcap/"> <div class="company-name">Johnson &amp; Johnson</div>
<div class="company-code"><span class="rank d-none"></span>JNJ</div>
</a> </div>]

Notice how each element of the total_lst is a ```<div>``` block

In [17]:
first = total_lst[0]
print(first)

<div class="name-div">
<a href="/apple/marketcap/"> <div class="company-name">Apple</div>
<div class="company-code"><span class="rank d-none"></span>AAPL</div>
</a> </div>

In [18]:
type(first)

bs4.element.Tag

In [19]:
first.name

'div'

We can use the .string and .select method to get the company name within the first element.

In [20]:
company_name = first.select(".company-name")[0].string
print(company_name)

Apple

.string on a Tag type object returns a NavigableString type object. On the other hand, .text gets all the child strings and return concatenated using the given separator. Return type of .text is unicode object.

In [21]:
company_code = first.select(".company-code")#[0].string
company_code[0].text

'AAPL'

Getting the industries the company (in this case Apple) is a part of is more invloving. First lets get the href attribute

In [22]:
href_marketcap = first.a["href"]
print(href_marketcap, type(href_marketcap))

/apple/marketcap/ <class 'str'>

Then we go to the href link and create a soup objest of the resulting html page

In [23]:
temp_url = "https://companiesmarketcap.com/" + href_marketcap
market_cap_url = requests.get(temp_url)
market_cap_soup = bs(market_cap_url.content, "html.parser")

Now we have to identify the CSS selector that then get all the industries a company is a part of:

In [24]:
industries = market_cap_soup.select(".categories-box .line1")
print(industries[0].prettify())

<div class="line1">
 <a class="badge badge-light category-badge" href="/tech/largest-tech-companies-by-market-cap/">
  👩‍💻 Tech
 </a>
 <a class="badge badge-light category-badge" href="/software/largest-software-companies-by-market-cap/">
  👩‍💻 Software
 </a>
 <a class="badge badge-light category-badge" href="/dow-jones/largest-companies-by-market-cap/">
  🇺🇸 Dow jones
 </a>
 <a class="badge badge-light category-badge" href="/tech-hardware/largest-tech-hardware-companies-by-market-cap/">
  💻 Tech Hardware
 </a>
 <a class="badge badge-light category-badge" href="/electronics/largest-electronic-manufacturing-by-market-cap/">
  🔌 Electronics
 </a>
</div>

In [25]:
industries[0].find_all("a")

[<a class="badge badge-light category-badge" href="/tech/largest-tech-companies-by-market-cap/">👩‍💻 Tech</a>,
 <a class="badge badge-light category-badge" href="/software/largest-software-companies-by-market-cap/">👩‍💻 Software</a>,
 <a class="badge badge-light category-badge" href="/dow-jones/largest-companies-by-market-cap/">🇺🇸 Dow jones</a>,
 <a class="badge badge-light category-badge" href="/tech-hardware/largest-tech-hardware-companies-by-market-cap/">💻 Tech Hardware</a>,
 <a class="badge badge-light category-badge" href="/electronics/largest-electronic-manufacturing-by-market-cap/">🔌 Electronics</a>]

In [26]:
industries_lst = []
for element in industries[0].find_all("a"):
  industries_lst.append(" ".join(element.string.split()[1:]))

industries_lst

['Tech', 'Software', 'Dow jones', 'Tech Hardware', 'Electronics']

Lets turn everything into functions to make it more organized:

In [27]:
def get_industries(lst):
  ret_lst = []
  
  for element in lst:
    industries_lst = []
    temp_href = element.a["href"]
    temp_url = "https://companiesmarketcap.com" + temp_href
    market_cap_url = requests.get(temp_url)
    market_cap_soup = bs(market_cap_url.content, "html.parser")
    industries = market_cap_soup.select(".categories-box .line1")
    try:
      for element in industries[0].find_all("a"):
        industries_lst.append(" ".join(element.string.split()[1:]))
      ret_lst.append(industries_lst)
    except:
      ret_lst.append(None)
  return ret_lst

In [28]:
industries_for_company_lst = get_industries(total_lst)
print(len(industries_for_company_lst))
industries_for_company_lst[0:4]

100

[['Tech', 'Software', 'Dow jones', 'Tech Hardware', 'Electronics'],
 ['Software', 'Tech', 'Dow jones', 'Video games'],
 ['Internet', 'Tech', 'Software', 'Autonomous driving'],
 ['E-Commerce', 'Internet', 'Tech', 'Retail']]

In [29]:
def get_company_name(lst):
  ret_lst = []
  for element in lst:
    ret_lst.append(element.select(".company-name")[0].string)
  return ret_lst

def get_company_code(lst):
  ret_lst = []
  for element in lst:
    ret_lst.append(element.select(".company-code")[0].text)
  return ret_lst

In [30]:
company_names_lst = get_company_name(total_lst)
company_code_lst = get_company_code(total_lst)
print(company_names_lst[0:4])
print(company_code_lst[0:4])

['Apple', 'Microsoft', 'Alphabet (Google)', 'Amazon']
['AAPL', 'MSFT', 'GOOG', 'AMZN']

All the lists are filled, so we can now make a Dataframe!

In [31]:
data = dict()

lst = [company_names_lst, company_code_lst, market_cap_lst, industries_for_company_lst]
names = ["company_names_lst", "company_code_lst", "market_cap_lst", "industries_for_company_lst"]

for i in [0,1,2,3]:
  data[names[i]] = lst[i] 

df = pd.DataFrame(data=data)
df.head(20)

,company_names_lst,company_code_lst,market_cap_lst,industries_for_company_lst
0,Apple,AAPL,$2.729 T,"[Tech, Software, Dow jones, Tech Hardware, Ele..."
1,Microsoft,MSFT,$2.146 T,"[Software, Tech, Dow jones, Video games]"
2,Alphabet (Google),GOOG,$1.691 T,"[Internet, Tech, Software, Autonomous driving]"
3,Amazon,AMZN,$1.566 T,"[E-Commerce, Internet, Tech, Retail]"
4,Tesla,TSLA,$1.009 T,"[Automakers, Tech, Electric Vehicles, Bitcoin,..."
5,Berkshire Hathaway,BRK-A,$769.85 B,[Investment]
6,Meta (Facebook),FB,$573.00 B,"[Tech, Internet]"
7,NVIDIA,NVDA,$535.33 B,"[Tech, Semiconductors, Electronics, Tech Hardw..."
8,UnitedHealth,UNH,$513.74 B,"[Healthcare, Insurance, Dow jones]"
9,Johnson & Johnson,JNJ,$483.56 B,"[Pharmaceuticals, Dow jones, Biotech]"
10,Visa,V,$471.63 B,"[Financial services, Dow jones]"
11,Walmart,WMT,$439.26 B,"[Retail, Dow jones, Supermarket Chains]"
12,Procter & Gamble,PG,$392.28 B,"[Dow jones, Consumer goods]"
13,JPMorgan Chase,JPM,$386.46 B,"[Banks, Financial services, Dow jones]"
14,Exxon Mobil,XOM,$371.68 B,"[Oil&Gas, Energy]"
15,Mastercard,MA,$359.89 B,[Financial services]
16,Chevron,CVX,$338.99 B,"[Oil&Gas, Dow jones, Energy]"
17,Home Depot,HD,$331.96 B,"[Retail, Dow jones]"
18,Bank of America,BAC,$319.74 B,"[Banks, Financial services]"
19,Coca-Cola,KO,$285.93 B,"[Beverages, Dow jones]"

Now lets webscrape reviews off of indeed reviews!

In [32]:
data2 = {"overall_rating": [], "num_reviews" : [], "num_reviews_dist" : [], "work_life_balance": [], "compensation_benefits" : [], "job_security_advancements" : [],
         "management" : [], "culture" : []}

In [33]:
def get_reviews(link):
  review_link = requests.get(link)
  review_soup = bs(review_link.content, 'html.parser')
  data2["overall_rating"].append(review_soup.select(".css-184jb2u")[0].string)
  data2["num_reviews"].append(review_soup.select(".css-1ljxcao .e1wnkr790")[0].string)
  
  t_lst = []
  for i in review_soup.select(".css-1ljxcao .e1wnkr790"):
    t_lst.append(i.string)
  data2["num_reviews_dist"].append(t_lst)

  t_lst = []
  for i in review_soup.select(".css-6wnk7h"):
    t_lst.append(i.string)
    
  data2["work_life_balance"].append(t_lst[0])
  data2["compensation_benefits"].append(t_lst[1])
  data2["job_security_advancements"].append(t_lst[2])
  data2["management"].append(t_lst[3])
  data2["culture"].append(t_lst[4])

Sometimes you have to hardcode cases:

In [34]:
for name in company_names_lst:
  try:
    if name == "Alphabet (Google)":
      get_reviews("https://www.indeed.com/cmp/google/reviews")
    elif name == "Meta (Facebook)":
      get_reviews("https://www.indeed.com/cmp/meta/reviews")
    elif name == "T-Mobile US":
      get_reviews("https://www.indeed.com/cmp/T-Mobile/reviews")
    else:
      get_reviews(f"https://www.indeed.com/cmp/{name}/reviews")
  except: #This is used to identify cases to hardcode
    print(name)
    break

In [35]:
for i,j in data2.items():
  print(len(j))

100
100
100
100
100
100
100
100

Because data2 is a dictionary we can simply create a dataframe

In [36]:
df2 = pd.DataFrame(data=data2)
df2.head(20)

,overall_rating,num_reviews,num_reviews_dist,work_life_balance,compensation_benefits,job_security_advancements,management,culture
0,4.2,5.3K,"[5.3K, 3.1K, 1.6K, 493, 364]",3.8,4.1,3.7,3.7,4.1
1,4.2,3.5K,"[3.5K, 2.4K, 1.1K, 260, 152]",3.9,4.1,3.5,3.6,4.0
2,4.3,2.3K,"[2.3K, 1.1K, 473, 122, 92]",4.2,4.1,3.7,3.9,4.2
3,3.4,22.9K,"[22.9K, 20.4K, 18.4K, 8.7K, 10.7K]",3.2,3.7,3.1,3.0,3.3
4,3.4,1.4K,"[1.4K, 1.3K, 1.1K, 596, 661]",3.0,3.6,2.8,2.9,3.3
5,4.0,84,"[84, 36, 32, 8, 11]",3.9,3.8,3.5,3.8,3.9
6,3.8,11,"[11, 6, 6, 2, 2]",3.6,4.0,3.3,3.4,3.6
7,4.2,123,"[123, 78, 29, 7, 10]",3.9,4.1,3.8,3.8,4.1
8,3.6,5.5K,"[5.5K, 5.3K, 3.8K, 1.6K, 1.7K]",3.6,3.5,3.2,3.2,3.5
9,4.2,3.2K,"[3.2K, 2.2K, 794, 223, 175]",4.0,4.1,3.6,3.8,4.0
10,3.9,387,"[387, 324, 200, 58, 54]",3.8,4.0,3.4,3.4,3.6
11,3.4,59K,"[59K, 61.5K, 62.2K, 25.2K, 26.2K]",3.3,3.3,3.2,3.0,3.2
12,4.1,3.3K,"[3.3K, 2.2K, 994, 299, 251]",3.8,4.0,3.7,3.7,3.9
13,3.9,7.1K,"[7.1K, 6.8K, 3.8K, 1.1K, 900]",3.7,3.9,3.5,3.5,3.7
14,3.9,1.8K,"[1.8K, 1.3K, 849, 289, 246]",3.7,3.7,3.4,3.6,3.7
15,4.0,246,"[246, 244, 119, 19, 20]",3.9,4.0,3.5,3.5,3.8
16,4.0,2.4K,"[2.4K, 1.7K, 907, 310, 302]",3.9,3.6,3.4,3.6,3.8
17,3.7,18K,"[18K, 18.4K, 13.6K, 4.6K, 3.8K]",3.5,3.4,3.3,3.3,3.6
18,3.8,10.6K,"[10.6K, 10.1K, 6.7K, 2K, 1.8K]",3.7,3.9,3.4,3.4,3.6
19,3.9,3.8K,"[3.8K, 2.9K, 1.9K, 684, 648]",3.6,3.8,3.4,3.4,3.6

Lastly, we can join the two dataframes side by side to create out final result!

In [37]:
company_df = pd.concat([df, df2], axis=1)

In [38]:
company_df

,company_names_lst,company_code_lst,market_cap_lst,industries_for_company_lst,overall_rating,num_reviews,num_reviews_dist,work_life_balance,compensation_benefits,job_security_advancements,management,culture
0,Apple,AAPL,$2.729 T,"[Tech, Software, Dow jones, Tech Hardware, Ele...",4.2,5.3K,"[5.3K, 3.1K, 1.6K, 493, 364]",3.8,4.1,3.7,3.7,4.1
1,Microsoft,MSFT,$2.146 T,"[Software, Tech, Dow jones, Video games]",4.2,3.5K,"[3.5K, 2.4K, 1.1K, 260, 152]",3.9,4.1,3.5,3.6,4.0
2,Alphabet (Google),GOOG,$1.691 T,"[Internet, Tech, Software, Autonomous driving]",4.3,2.3K,"[2.3K, 1.1K, 473, 122, 92]",4.2,4.1,3.7,3.9,4.2
3,Amazon,AMZN,$1.566 T,"[E-Commerce, Internet, Tech, Retail]",3.4,22.9K,"[22.9K, 20.4K, 18.4K, 8.7K, 10.7K]",3.2,3.7,3.1,3.0,3.3
4,Tesla,TSLA,$1.009 T,"[Automakers, Tech, Electric Vehicles, Bitcoin,...",3.4,1.4K,"[1.4K, 1.3K, 1.1K, 596, 661]",3.0,3.6,2.8,2.9,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Cigna,CI,$85.60 B,[Insurance],3.7,1.5K,"[1.5K, 1.4K, 985, 412, 437]",3.6,3.6,3.2,3.3,3.5
96,CME Group,CME,$84.89 B,"[Stock exchanges, Financial services, Stock/Cr...",4.1,102,"[102, 86, 40, 10, 7]",3.9,4.1,3.5,3.5,3.7
97,Analog Devices,ADI,$84.45 B,"[Semiconductors, Tech, Manufacturing]",3.9,271,"[271, 274, 158, 51, 34]",3.8,3.8,3.5,3.5,3.7
98,HCA Healthcare,HCA,$83.10 B,[Healthcare],3.5,761,"[761, 720, 561, 255, 321]",3.4,3.5,3.2,3.1,3.3
99,Micron Technology,MU,$81.74 B,"[Tech, Tech Hardware, Semiconductors]",3.7,324,"[324, 364, 254, 95, 63]",3.5,3.8,3.2,3.2,3.4

In [39]:
company_df.to_csv("company_df.csv")

Notice how our dataset is very messy, we now have to go fourth with the rest of the Data Science pipeline and clean the dataset.

# Practice Question

## WebScrape "Google" from [https://www.google.com/](https://www.google.com/)

![image.png]()


The `Google` logo up above.